.about-section {
    background-color: #F0FDF4; 
    background: url('../images/joryalmacin.jpg');
    padding: 3rem 2rem;
    color: #064E3B;
}

.about-container {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.about-title {
    font-size: 2rem;
    color: #065F46;
    margin-bottom: 1rem;
    font-weight: bold;
}

.about-description {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 2rem;
}

.about-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.about-card {
    background: white;
    padding: 1.5rem;
    width: 280px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    text-align: left;
    border-left: 6px solid #10B981;
    transition: transform .3s;
}

.about-card:hover {
    transform: translateY(-5px);
}

.about-card h3 {
    font-size: 1.3rem;
    color: #047857;
    margin-bottom: .8rem;
}

.about-card ul {
    line-height: 1.8;
    padding-left: 1rem;
}
  .footer {
            background-color: #064E3B;
            color: white;
            text-align: center;
            padding: 1.5rem;
        }

        .footer a {
            color: white;
            margin: 0 0.5rem;
            text-decoration: none;
            font-weight: bold;
        }

        .footer a:hover {
            text-decoration: underline;
        }

        @media (max-width: 768px) {
            .container {
                flex-direction: column;
                text-align: center;
            }

            nav ul {
                flex-direction: column;
                gap: 1rem;
                display: none;
                background-color: #10B981;
                position: absolute;
                top: 70px;
                right: 0;
                width: 200px;
                padding: 1rem;
                border-radius: 5px;
            }

            nav ul.show {
                display: flex;
            }

            .hamburger {
                display: flex;
            }
        }